In [8]:
import pandas as pd
import numpy as np
from sklearn.cluster import MeanShift

In [13]:
df = pd.read_csv(
  "checkins.dat",
  header=0, sep='\s*\|\s*',
  engine='python', comment="--",
)

In [14]:
df.head()

       id    user_id  venue_id   latitude  longitude           created_at
0  984301  2041916.0    5222.0        NaN        NaN  2012-04-21 17:39:01
1  984222    15824.0    5222.0  38.895112 -77.036366  2012-04-21 17:43:47
2  984315  1764391.0    5222.0        NaN        NaN  2012-04-21 17:37:18
3  984234    44652.0    5222.0  33.800745 -84.410520  2012-04-21 17:43:43
4  984249  2146840.0    5222.0        NaN        NaN  2012-04-21 17:42:58

In [15]:
df.shape

(1021967, 6)

In [16]:
df = df.dropna()

In [17]:
df.shape

(396634, 6)

In [18]:
df = df.iloc[:100000, :]

In [24]:
df = df[['latitude','longitude']]

In [21]:
cluster = MeanShift(bandwidth=0.1, min_bin_freq=15)

In [25]:
res = cluster.fit(df)

In [39]:
res2 = res.predict(df)

In [31]:
res.labels_

array([ 5,  7, 30, ..., 25, 19,  4], dtype=int64)

In [33]:
res.cluster_centers_.shape

(3231, 2)

In [46]:
centers = res.cluster_centers_

In [42]:
offices = np.array([[33.751277, -118.188740],
[25.867736, -80.324116],
[51.503016, -0.075479],
[52.378894, 4.885084],
[39.366487, 117.036146],
[-33.868457, 151.205134]])

In [44]:
offices

array([[ 3.37512770e+01, -1.18188740e+02],
       [ 2.58677360e+01, -8.03241160e+01],
       [ 5.15030160e+01, -7.54790000e-02],
       [ 5.23788940e+01,  4.88508400e+00],
       [ 3.93664870e+01,  1.17036146e+02],
       [-3.38684570e+01,  1.51205134e+02]])

In [83]:
min_dist = []
for office in offices:
    temp_dist = []
    for i, center in enumerate(centers):
        temp_dist.append(np.linalg.norm((center - office)))
    min_dist.append([np.argmin(np.array(temp_dist)), min(temp_dist)])

In [86]:
min_dist

[[51, 0.07084773242719973],
 [419, 0.022674066158385495],
 [58, 0.05005829482278787],
 [370, 0.009353316185992226],
 [1980, 0.30330785270578703],
 [420, 0.007834758163107856]]

In [109]:
print(f'Ответ: {(centers[sorted(min_dist, key=lambda x:x[1])[0][0]])}')

ValueError: can only convert an array of size 1 to a Python scalar